[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
aiogram = "*"
gino = "*"
sqlalchemy = "*"
python-dotenv = "*"
tabulate = "*"

[requires]
python_version = "3.9"
